<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="app">
                <br />
                <h2> Contact US </h2>
                <form v-on:submit.prevent="formSubmit">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your name" v-model="form.name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com"
                            v-model="form.email">
                    </div>
                    <div class="form-group">
                        <label for="formControlRange">Gender</label><br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender-male" value="male"
                                v-model="form.gender">
                            <label class="form-check-label" for="gender">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender-female" value="female"
                                v-model="form.gender">
                            <label class="form-check-label" for="gender">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="refer">From where did you hear about us?</label>
                        <select name="refer" class="form-control" id="refre" v-model="form.refer">
                            <option value="website">Website</option>
                            <option value="newspaper">Newspaper</option>
                            <option value="friend">Friend</option>
                            <option value="online-ad">Online Ad</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">You are a : </label>
                        <select multiple class="form-control" id="exampleFormControlSelect2" v-model="form.profession">
                            <option value="developer">Developer</option>
                            <option value="designer">Graphic Designer</option>
                            <option value="manager">Manager</option>
                            <option value="ceo">Company Head / CEO</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formControlRange">Which of our service are you interested in?</label><br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="online"
                                v-model="form.interested">
                            <label class="form-check-label" for="inlineCheckbox1">Online Tests</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="paper"
                                v-model="form.interested">
                            <label class="form-check-label" for="inlineCheckbox2">Paper Based Tests</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="customized"
                                v-model="form.interested">
                            <label class="form-check-label" for="inlineCheckbox3">Customized Tests</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Your message</label>
                        <textarea name="message" class="form-control" id="message" rows="3"
                            v-model="form.message"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="satisfaction">How satisfied are you with our service?</label>
                        <input type="range" name="satisfaction" class="form-control-range" id="formControlRange" min="0"
                            max="10" v-model="form.satisfaction">
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="terms" value="yes" v-model="form.terms">
                            <label class="form-check-label" for="inlineCheckbox3">Agree to Terms & Conditions</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>

                <div class="column">
                    <section class="section" id="results">
                        <div class="box alert alert-secondary">
                            <ul>
                                <!-- loop through all the `form` properties and show their values -->
                                <li v-for="(item, k) in form">
                                    <strong>{{ k }}:</strong> {{ item }}
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            form: {
                name: '',
                email: '',
                gender: '',
                refer: '',
                profession: [],
                message: '',
                satisfaction: '',
                interested: [],
                terms: false
            }
        },
        methods: {
            formSubmit: function (event) {
                console.log(this.form);
                event.target.reset();
            }
        }
    });
</script>

</html>