<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 40px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css"/>

    <style>
        .golden{
            color: #d4af37;
        }
        .like-button:hover{
            color: #d4af37;
        }
    </style>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <like></like>
    </div>
    <script>

        Vue.component('like',{
            template: `<span><i @click="liked = !liked" :class="[liked ? 'fa golden' : 'far']" class="like-button fa-thumbs-up"></i> {{liked ? 'Liked' : 'Like'}}<span>`,
            data(){
                return{
                    liked: false,
                }
            },
        });

        let app = new Vue({
            el: '#app',
        })
    </script>
</body>
</html>